.navbar-top {
    background: $color-primary-dark;
    border-bottom: 1px solid $border-color;

    img.logo {
        height: 48px;
        width: auto ;
    }

    a.navbar-brand {
        display: flex;
        align-items: center;

        span {
            font-size: 2.5rem;
            position: relative;
            bottom: 3px;
            margin-left: 8px;
        }
    }
}



