::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {background: #20262E; }
::-webkit-scrollbar-thumb {background: rgba(171, 178, 191, 0.25); } 
::-webkit-scrollbar-thumb:hover {background: #555;} 
::-webkit-scrollbar-button{background:#20262E; height: 32px; display: none;}
